

@import url('https://fonts.googleapis.com/css2?family=Besley&display=swap');


* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}



:root{
    --dark-purple : #f06df0;
    --faint-purple: #dfa3ee;
}

body {
    font-family: 'Besley', serif;
    margin: 0;
}

.bg-body {
    background-image: url(images/dollarrain.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #464646;
}


.heading {
    margin: 1.8rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

p {
    margin-top: .5rem;
}

.container {
    /* background-color:#b606b6 ; */
    background-color:#f06df0;
    width: 25rem;
    margin: 1rem auto;
    padding: 1.2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 7px #cd84d6;
    color:#791886f1;
}

.billLabel {
    margin: 0rem 6rem;
    font-weight: bold;
}

#billsAmount {
    margin: .5rem 0rem;
    padding: 0.6rem 1rem;
    height: 2rem;
    width: 90%;
    border-radius: 1rem;
    border: none;
}

.next-btn {
    margin: 1.2rem 10rem;
    padding: .5rem 1rem;
    border-radius: 0.5rem;
    width: 5rem;
    height: 2.5rem;
    border-color: black;
    border-width: 2px;
    font-size: 1rem;
    cursor: pointer;
}

.next-btn:hover {
    background-color: var(--faint-purple);
}

.amountLabel {
    margin: 0rem 5rem;
    font-weight: bold;
}

#enteredAmount {
    margin: .5rem 0rem;
    padding: 0.6rem 1rem;
    height: 2rem;
    width: 90%;
    border-radius: 1rem;
    border: none
}

.check-btn {
    margin: 1.2rem 10rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    width: 5rem;
    height: 2.5rem;
    border-color: black;
    border-width: 2px;
    font-size: 1rem;
    cursor: pointer;
}

.check-btn:hover {
    background-color: var(--faint-purple);
}

.p-text {
    margin: .8rem 0rem;
    text-align: center;
    font-size: 1.3rem;
}

table {
    border: 2px solid #c347ce;
}

td {
    border: 1px solid #72147a;
    margin: 1rem;
    width: 13rem;
    height: 3.5rem;
}

.td-center {
    text-align: center;
}

.footer {
    background-color:#cb66d8;
    padding-top: 2.5rem;
    padding-bottom: 2.2rem;
    text-align: center;
    border-top-right-radius: 1rem;
    border-bottom-left-radius:1rem ;
    color: #ac2eb1;
    margin-top: 0.5rem;
   
}

.footer .link {
    color: aliceblue;
    text-align: center;
    margin: auto;
    
}

.footer .text-align {
    text-align: center;
    margin: 0px;
}


.footer .list-non-bullet {
   
   list-style: none;
   text-align: center;
   padding: 1.5rem;
}

.footer .footer-header {
   font-size: large;
   font-weight: bold;
}
.footer ul {
padding-inline-start: 0px;
}

.socialIcon {
   display: inline-block;
   block-size: 2.1rem;
   margin-top: 1rem;
padding: 0rem 0.6rem;}

.list-item-inline {
    display: inline;
    text-align: center;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    
}